* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    padding-top: 30px;
    background-color: #2A2D32;
    color: #fff;
    perspective: 100%;
}

.mainCont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    flex-wrap: wrap;
}

.pageDisplay {
    display: flex;
    flex-wrap: nowrap;
    width: 650px;
    height: 60%;
    padding: 0;
    justify-content: space-around;
    align-items: center;
}

.mainTitle {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    font-weight: bold;
    font-family: arial;
    margin: 0;
}

.mainIcon {
    width: 250px;
    height: 250px;
    background: #bbb;
    border-radius: 100%;
    border: 5px solid rgb(56, 56, 56);
}

.pageInfo {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 40%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-style: italic;
}

.linksCont {
    padding: 0;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: top;
    flex-wrap: wrap;
}

.break {
    width: 100%;
    height: 50px;
}

.mainLink {
    width: 100%;
    display: flex;
    height: 125px;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #fff;
    font-family: arial;
    text-decoration: none;
    background-color: #25272a;
    transition: 0.3s all ease;
}

.mainLink:hover {
    background-color: #1c1e20;
    color: #bbb;
    transition: 0.6s all ease;
    cursor: pointer;
}

#projectsCont {
    display: flex;
    width: 100%;
    height: 500px;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
    align-items: center;
}

.projectTile {
    width: 404px;
    height: 220px;
    border: 4px solid rgb(34, 34, 34);
    border-radius: 5px;
    margin-top: 20px;
}

.projectThumb {
    width: 396px;
    height: 180px;
}

.projectDesc {
    transition: 0.3s all ease;
    position: absolute;
    opacity: 0;
    font-family: arial;
    width: 396px;
    height: 180px;
    background-color: #2A2D32;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 25px;
    font-weight: 100;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.projectDesc:hover {
    opacity: 0.8;
    transition: 0.6s all ease;
    position: absolute;
    font-family: arial;
    cursor: pointer;
}

a:link {text-decoration: none}

.projectTitle {
    width: 100%;
    height: 32px;
    background-color: #202225;
    color: #fff;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto, arial;
    transition: 0.3s all ease;
    text-decoration: none;
    font-weight: 100;
}

.projectTitle:hover {
    color: #bbb;
    transition: 0.6s all ease;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .pageDisplay {
        flex-wrap: wrap;
    }
    .mainCont {
        height: 500px;
    }
    .mainIcon {
        width: 250px;
        height: 250px;
    }
    .mainTitle {
        height: 50%;
    }
}